In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('customer_pricing_data.csv')
df.head(10)

  Customer_ID    APR Loan_Approval_Month
0     W000001  38.28              Apr-24
1     W000002  37.53              Oct-24
2     W000003  29.08              Nov-24
3     W000004  30.43              Aug-24
4     W000005  26.03              Nov-24
5     W000006  25.32              Jul-24
6     W000007  25.08              Nov-24
7     W000008  27.95              Feb-25
8     W000009  27.79              Jun-24
9     W000010  30.96              Oct-24

In [3]:
# ADDING THE APR COMPLIANT FLAG
df['APR_COMPLIANT'] = df['APR'].between(18.0, 40.0)
# COUNTING THE VIOLATIONS 
apr_violations = df[df['APR_COMPLIANT']== False]
num_of_vioaltion = len(apr_violations)
total_loans = len(df)
violation_percentage = (num_of_vioaltion/total_loans)*100

In [4]:
print("APR Violaitons count", num_of_vioaltion)
print("Violtion percent", violation_percentage)

APR Violaitons count 152
Violtion percent 0.4983606557377049