In [26]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib as plt

In [27]:
LIF = pd.read_csv('Loan_issuance.csv')
LIF.head()

  Customer_ID  CIBIL_Score  Loan_Issued Loan_Issue_Date
0     Z000001          711         True      11-12-2024
1     Z000002          712         True      08-01-2025
2     Z000003          772         True      22-12-2024
3     Z000004          760         True      06-04-2024
4     Z000005          633         True      17-04-2024

In [28]:
LIF['CIBIL_ELIGIBLE'] = LIF['CIBIL_Score']>= 575
LIF.tail()

      Customer_ID  CIBIL_Score  Loan_Issued Loan_Issue_Date  CIBIL_ELIGIBLE
30495     Z030496          659         True      25-07-2024            True
30496     Z030497          671         True      04-10-2024            True
30497     Z030498          632         True      08-02-2025            True
30498     Z030499          636         True      17-04-2024            True
30499     Z030500          710         True      04-02-2025            True

In [29]:
LIF

      Customer_ID  CIBIL_Score  Loan_Issued Loan_Issue_Date  CIBIL_ELIGIBLE
0         Z000001          711         True      11-12-2024            True
1         Z000002          712         True      08-01-2025            True
2         Z000003          772         True      22-12-2024            True
3         Z000004          760         True      06-04-2024            True
4         Z000005          633         True      17-04-2024            True
...           ...          ...          ...             ...             ...
30495     Z030496          659         True      25-07-2024            True
30496     Z030497          671         True      04-10-2024            True
30497     Z030498          632         True      08-02-2025            True
30498     Z030499          636         True      17-04-2024            True
30499     Z030500          710         True      04-02-2025            True

[30500 rows x 5 columns]

In [30]:
total_customers = len(LIF)
eligible = LIF[LIF['CIBIL_ELIGIBLE']==True].shape[0]
percentage_eligible = (eligible/total_customers)*100
percentage_eligible
eligible

29045

In [31]:
print(percentage_eligible)

95.22950819672131

Hence 95.22 % of the customer in the loan issue data base were eligible, rest were not, we can find the average cibil of the rejected application and show that we are complying to the rbi guidelines

In [32]:
non_eligible = LIF[LIF['CIBIL_ELIGIBLE']== False]
average_cibil_non_eligible = non_eligible['CIBIL_Score'].mean()

In [33]:
print(average_cibil_non_eligible)

503.7725085910653

In [37]:
#violation of the policy for the loan accounts
violations = LIF[(LIF['CIBIL_Score']<575) & (LIF['Loan_Issued']== True)]

In [43]:

print(violations)
num_violation = len(violations)
total_loan_issued = LIF[LIF['Loan_Issued']==True].shape[0]

      Customer_ID  CIBIL_Score  Loan_Issued Loan_Issue_Date  CIBIL_ELIGIBLE
12        Z000013          491         True      08-10-2024           False
24        Z000025          424         True      12-05-2024           False
38        Z000039          546         True      11-09-2024           False
70        Z000071          543         True      13-05-2024           False
111       Z000112          569         True      09-02-2025           False
...           ...          ...          ...             ...             ...
30436     Z030437          535         True      16-03-2025           False
30437     Z030438          536         True      19-08-2024           False
30449     Z030450          306         True      22-01-2025           False
30453     Z030454          308         True      22-05-2024           False
30474     Z030475          564         True      08-02-2025           False

[1455 rows x 5 columns]

In [44]:
violation_percentage = (num_violation/total_loan_issued)*100
print(violation_percentage)

4.770491803278689

4.7 % violation from the policy