In [2]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('customer_kyc_data.csv')
df.head()

,Customer_ID,Onboarding_Date,KYC_Documents_Submitted,PAN_Number,Aadhaar_Number
0,X000001,01-04-2024,PAN + Aadhaar,HVPGF7923K,2.228650e+11
1,X000002,01-04-2024,Passport,NaN,NaN
2,X000003,01-04-2024,PAN only,CMZRF3197T,NaN
3,X000004,01-04-2024,Aadhaar only,NaN,9.230770e+11
4,X000005,01-04-2024,PAN + Aadhaar,JPNNB1832A,5.979940e+11

In [9]:
df['KYC_Documents_Submitted'].unique

<bound method Series.unique of 0        PAN + Aadhaar
1             Passport
2             PAN only
3         Aadhaar only
4        PAN + Aadhaar
             ...
30495    PAN + Aadhaar
30496         PAN only
30497    PAN + Aadhaar
30498    PAN + Aadhaar
30499    PAN + Aadhaar
Name: KYC_Documents_Submitted, Length: 30500, dtype: object>