Testing that all the customer with dpd>180 are there in the write of register, if, not , then its a compliance amount, aslo finding the write off amount

In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib as plt

In [3]:
df = pd.read_csv('write_off_register.csv')
df.head()

  Customer_ID  Loan_Amount Disbursal_Date Write_Off_Date
0  CUST000026       157121     2024-11-16     2025-10-07
1  CUST000033       199763     2024-10-04     2025-10-01
2  CUST000035       195057     2024-09-25     2025-09-18
3  CUST000060        99403     2023-07-19     2024-12-24
4  CUST000074       149292     2024-12-28     2025-11-11

In [5]:
average_write_off = df['Loan_Amount'].mean()

print(average_write_off)

106373.20256991686